.container{
  margin: 0 25px;
}
.header {
  font-size: 1.25em;
  margin: 10px 10px;
  display: flex;
  flex-direction: column;
}

.title{
  font-size: 1.5em;
  font-family: "Roboto Bold";
}

.search{
    margin: auto;
}

.search input {
  font-family: "Roboto Light";
  height: 50px;
}

.edit {
  width: 60px;
  height: 60px;
  position: absolute;
  right: -10px;
  cursor: pointer
}

@media (min-width: 841px) {
  .title {
    margin-top: 65px;
  }
  .search {
    width: 320px;
    margin-right: 0;
  }
}

@media (max-width: 840px) {
  .title {
    margin-top: 25px;
    margin-bottom: 10px;
  }
  .search {
    width: 260px;
    margin: auto;
  }
}

.inputs{
  display: flex;
  flex-direction: column;
  position:relative;
  height: 70px;
}

/*.inputs > *{
  margin: 10px 0;
}*/

@media (min-width: 641px) {
  .inputs {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
  }

  .inputs > button{
    margin-right: 20px;
  }
}

.list {
  border-top: 1px solid #E6E5E0;

}

.item {
  display: block;
  list-style: none;
  border-bottom: 1px solid #E6E5E0;
}
