.container{
  margin: 0 20px;
}
.header {
  margin: 10px 20px;
  display: flex;
  flex-direction: column;
}

.title{
  font-size: 1.5em;
  margin: 10px 0;
}

.search{

}

@media (min-width: 641px) {
  .search {
    width: 200px;
    margin-left: auto;
  }
}

.inputs{
  display: flex;
  flex-direction: column;
}

.inputs > *{
  margin: 10px 0;
}

@media (min-width: 641px) {
  .inputs {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
  }

  .inputs > *{
    margin-right: 10px;
  }
}

.list {
  border-top: 1px solid rgb(195,192,180);

}

.item {
  display: block;
  list-style: none;
  border-bottom: 1px solid rgb(195,192,180);
}
