.container {
  width: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0 10px;
}

.active .on{
  color: rgb(0,171,223);
  font-family: "Roboto Bold";
}

.active .button {
  transform: translateX(8px);
  transition: transform .5s;
}

.on{
  color: rgb(195,192,180);
  margin-left: auto;
  margin-right: 8px;
}

.off{
  color: rgb(195,192,180);
  margin-right: auto;
}

.track {
  position:absolute;
  z-index: 0;
  width: 36px;
  height: 12.5px;
  border-radius: 50px;
  border: 1px solid rgb(195,192,180);
}

.button {
  position:absolute;
  z-index: 1;
  transform: translateX(-8px);
  transition: transform .5s;
  cursor: pointer;
  width: 20px;
  height: 20px;
  border-radius: 50px;
  border: 1px solid rgb(195,192,180);
  background-color: rgb(255,255,255);
}
