.container {
  width: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-left: 25px;
  margin-right: 10px;
  font-size: 0.85em;
}

.active .on{
  color: rgb(0,171,223);
  font-family: "Roboto Bold";
}

.active .button {
  transform: translateX(8px);
  transition: transform .5s;
}

.on{
  color: #B8B8B8;
  margin-left: auto;
  margin-right: 4px;
}

.off{
  color: #B8B8B8;
  margin-right: auto;
}

.track {
  position:absolute;
  z-index: 0;
  width: 36px;
  height: 12.5px;
  border-radius: 50px;
  border: 1px solid #B8B8B8;
}

.button {
  position:absolute;
  z-index: 1;
  transform: translateX(-8px);
  transition: transform .5s;
  cursor: pointer;
  width: 20px;
  height: 20px;
  border-radius: 50px;
  border: 1px solid #B8B8B8;
  background-color: rgb(255,255,255);
}
