.container{

}

.top{
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  height: 55px;
  background-color: rgb(224,223,216);
  margin-bottom: 1px;

}

.option{
  position: absolute;
  bottom: -3px;
  right: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 50%;
}

.text{
  font-size: 0.875em;
  color: #393939;
  font-weight: 100;
  margin-right: 5px;
}

.action{
  position: relative;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  /*border: 1px #B8B8B8 solid;*/
  background-color: transparent;
}

.icon{
  position: absolute;
  width: 12px;
  bottom: -4px;
}

.bottom{
  height: 50px;
  background-color: rgb(239,238,235);
 }
