.container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 0 20px;
  padding: 20px 0px;
}

.title{
  color: rgb(0,171,223);
  margin-bottom: 20px;
  min-width: 90px;
}

.content{
  display: flex;
  flex-direction: column;
  flex: 1;
}

@media (min-width: 641px) {
  .content{
    flex: 0 1 50%;
    margin-left: auto;
  }
}

.details{
  font-weight: bold;
}

.battery{
  position: absolute;
  right: 10px;
}

.url{
  flex: 1;
  word-break: break-word;
}
