.container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 0 10px;
  padding: 20px 0px;
}

@media (max-width: 840px) {
  .container {
    flex-direction: column;
  }
}

.controls{
  display: flex;
  margin-bottom: 20px;
}

.title{
  color: rgb(0,171,223);
  font-family: "Roboto Bold";
  width: 85px;
  margin-bottom: 10px;
}

.content{
  display: flex;
  flex-direction: column;
  flex: 1;
}

.icon {
  color: #B8B8B8;
  fill: currentColor;
  width: 15px;
  height: 15px;
  margin-left: 12.5px;
  margin-right: 12.5px;
  margin-top: 2.5px;
}

.details{
  font-family: "Roboto Bold";
  margin-bottom: 5px;
}

.battery{
  position: absolute;
  top: 15px;
  right: 10px;
  width: 10px;
  transform: rotate(90deg);
}

.url{
  flex: 1;
  word-break: break-word;
  color: #B8B8B8;
}
