.container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 0 20px;
  padding: 20px 10px;
  border-top: 1px solid rgb(195,192,180);
  border-bottom: 1px solid rgb(195,192,180);
}

.title{
  color: rgb(0,171,223);
}

.content{
  display: flex;
  flex-direction: column;
}

.details{
  font-weight: bold;
}

.battery{
  position: absolute;
  right: 10px;
}

.url{
  flex: 1;
  word-break: break-word;
}