.container {
  width: 150px;
}

.container :global .Dropdown-control{
  border: none;
  padding-left: 0;
}

.container :global .Dropdown-arrow{
  border-color: #c3c0b4 transparent transparent;
  top: 18px;
  border-width: 8px 5px 0;
}

.container :global .Dropdown-placeholder {
  color: #c3c0b4;
  font-weight: 900;
}
