.container {
  width: 150px;
  margin-left: 5px;
}

.container :global .Dropdown-control{
  border: none;
  padding-left: 0;
}

.container :global .Dropdown-arrow{

}

.container :global .Dropdown-placeholder {
  color: #c3c0b4;
  font-weight: 900;
}
