.container {
  color: #FFFFFF;
  background-color: rgb(40,40,37);
  min-width: 250px;
  position: relative;
}

.toggle{
  line-height: normal;
  cursor: pointer;
  border-radius: 50%;
  width: 47.5px;
  height: 47.5px;
  position: absolute;
  /* for chrome */ z-index: 1;
  right: -23.25px;
  top: 47.5px;
}

.logo{
  width: 100%;
  padding: 40px 75px 25px 40px;
}

.group{
  border-left: 5px rgb(12,154,215) solid;
}

.section{
  padding: 10px 15px;
  display: block;
}

.icon{
  width: 12.5px;
  margin-right: 15px;
  display: inline-block;
}

.header{
  composes: section;
}

.link{
  composes: section;
  font-weight: 100;
  cursor: pointer;
  padding-left: 25px;
  background-color: rgb(55,55,55);
  border-left: 5px rgb(255,255,255) solid;
}
