.container{
  position: relative;
}

.icon{
  position: absolute;
  color: #c3c0b4;
  fill: currentColor;
  top: 11px;
  left: 5px;
  width: 25px;
  height: 25px;
}

.input{
  width: 100%;
  color: #c3c0b4;
  border: 1px solid #c3c0b4;
  padding: 10px 30px;
}

.input::placeholder{
  color: #c3c0b4;
}
