.container{
  position: relative;
}

.icon{
  position: absolute;
  color: #E6E5E0;
  fill: currentColor;
  top: 12px;
  left: 5px;
  width: 25px;
  height: 25px;
}

.input{
  width: 100%;
  color: #E6E5E0;
  border: 1px solid #E6E5E0;
  padding: 10px 30px;
  font-size: 0.9em
}

.input::placeholder{
  color: #E6E5E0;
}
